<div class="container">
    <div class = "row">
    </div>
    
    <table class = "table table-striped table-bordered">
        <thead>
            <tr>
                <th> OrderId</th>
                <th> OrderType </th>
                <th> MilestonesStatus</th>
                <th> origin</th>
                <th> totalcharge</th>
                <th>dateofOrder</th>
                 <th>destination</th>
                <th> urgentdelivery </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
             <tr *ngFor = "let order of orderWatch" > 
                <td> {{order.orderId}} </td>
                <td> {{order.ordertype}} </td>
                <td> {{order.milestonesStatus}} </td>
                <td> {{order.origin}} </td>
                <td> {{order.totalcharge}} </td>
                <td> {{order.dateofOrder | date}} </td>
                <td>{{order.destination}}</td>
                <td> {{order.urgentdelivery}} </td>
                <td>
                    <button (click) = "updateOrderWatch(order.orderId)"class = "btn btn-primary"> Update</button>
                    <button (click) = "deleteOrderWatch(order.orderId)"class = "btn btn-danger" style="margin-left: 10px"> Delete</button> 
                    <button  class = "btn btn-primary" style="margin-left: 10px"> View</button>
                </td> 
            </tr>
        </tbody>
    </table>
    </div>